$fontFallback: sans-serif;
$perfectWhite: rgb(241, 241, 241);
$backgroundColor: rgb(20, 145, 20);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontFallback;
}


@mixin displayFlex($display, $justify-content, $align-items, $flex-direction, $flex-wrap, $gap) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    gap: $gap;
}

@mixin resetButton {
    background: none;
    outline: none;
    border: none;
}